html {
  font-size: 10px;
  width: 500px;
  font-family: "Times New Roman", Times, serif;
  background: black;
  color: white;
}

.movie-header {
  height: 300px;
}

.movie-image {
  height: 100%;
  width: 100%;
}

.movie-name {
  position: relative;
  margin: 0px;
  bottom: 50px;
  left: 10px;
  font-size: 3.5rem;
  /* opacity:0.6; */
  /* filter:alpha(opacity=60);  */
}

.buy-container {
  margin: 15px 20px;
}

.buy-button {
  width: 200px;
  height: 50px;
  border: none;
  background: linear-gradient(to right, #ff00ff 0%, #993399 100%);
  font-weight: bold;
  border-radius: 10px;
  font-weight: bolder;
  color: white;
}

.release-info-container {
  font-size: 1.8rem;
  margin: 15px 20px;
}

.restriction-container {
  font-size: 1.5rem;
  margin: 15px 20px;
}

.restriction {
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

.basic-info-container {
  font-size: 1.8rem;
  margin: 15px 20px;
}

.basic-info {
  font-size: 1.5rem;
  display: inline-block;
}

.rating-container {
  margin: 15px 20px;
}

.rating {
  font-size: 2.5rem;
}

.rating-name {
  font-size: 1.5rem;
}

.description-container {
  margin: 15px 20px;
}

.description-header {
  font-size: 2.2rem;
}

.description-text {
  font-size: 1.5rem;
}
